# ========================================
# Archivos temporales
# ========================================
*.tmp
*.temp
*.bak
*.old
*.orig
*.log

# ========================================
# Variables de entorno
# ========================================
.env
.env.*

# ========================================
# Python
# ========================================
__pycache__/
*.py[cod]
.venv/
venv/

# ========================================
# Visual Studio Code
# ========================================
.vscode/

# ========================================
# JetBrains
# ========================================
.idea/

# ========================================
# Archivos del sistema
# ========================================
.DS_Store
Thumbs.db
desktop.ini

# ========================================
# Archivos comprimidos generados
# ========================================
*.zip
*.rar
*.7z